}
.html1 {
  background: url(Images/Gunslinger_Background_Portrait.png) no-repeat center center fixed;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}
.html2 {
  background: url(Images/Gunslinger_Background_Landscape.png) no-repeat center center fixed;
  background-size: cover;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


  #HomePage_Logo{
    height: 20vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .HomePageButton{
    display: block;
    height: 40vh;
    width: cover;
    margin-left: auto;
    margin-right: auto;
  }

  #HelpPage_Logo{
    height: 20vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #HelpPageText{
    height: 60vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .HomeButton{
    height:15vh;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #ChooseYourOpponent{
    height: 40vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #TempButton{
    height: 45vh;
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #Gun{
    display:block;

    width: 100vw;
    height: auto;
    position: fixed;
    margin-top: -100px;
    margin-left: -300px;
    top:50%;
    left:50%;
    z-index: 1;
    transform: rotate(90deg);
  }
